* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #c5b48b;
  }
  
  html {
    height: 100%;
    width: 100%;
    display: flex;
  }
  
  #container {
    display: grid;
    background-color: white;
    border-style: solid;
    height: 90%;
    aspect-ratio: 1;
  }
  
  .item {
    /* Variables for each item */
    --grid-pos: 0;
    --color: white;
    --previous-color: white;

    /* Positioning */
    position: relative; 
    justify-self: center;
    align-self: center;

    /* Animation values */
    animation-name: activate;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--grid-pos) * 75ms);

    /* Styling */
    width: 100%;
    aspect-ratio: 1;
    border-width: 1px;
    box-shadow: 1px 1px 3px gray;
    background-color: var(--previous-color);

    
  }
  
  .item.wall {
    --color: #735241;
    animation-delay: 75ms;
  }
  
  .item.start {
    --color: #52a44a;
    animation-delay: 75ms;
  }
  
  .item.end {
    --color: #417b41;
    animation-delay: 75ms;
  }

  .item.path {
    --explore-delay: 0ms;
    --index: 0;
    --delay: 250ms;
    --custom-color: 0;
    animation-name: activate;
    /* animation-duration: calc(var(--explore-delay)*2); */
    /* animation-timing-function: linear; */
    animation-delay: calc(var(--explore-delay) + (var(--index) * var(--delay)) + 250ms)
  }

  .item.explored {
    animation-name: activate;
    --color: #ac945a;
    --explored-pos: 0;

    animation-delay: calc(var(--explored-pos) * 250ms);
  }
  
  @keyframes activate {
    0% {
      background-color: var(--previous-color);
    }
    50% {
      transform: scale(.75);
    }
    100% {
      transform: scale(1);
      /* background-color: var(--color); */
      background-color: var(--custom-color, var(--color));
    }
  }

  @keyframes activatePath {
    0% {
      background-color: white;
    }
    25%, 75% {
      transform: scale(.75);
    }
    50% {
      transform: scale(1);
      /* background-color: var(--color); */
      background-color: var(--previous-color);
    }
    100% {
      transform: scale(1);
      background-color: var(--custom-color);
    }
  }


