* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #c5b48b;
  }
  
  html {
    height: 100%;
    width: 100%;
    display: flex;
  }
  
  #container {
    display: grid;
    background-color: white;
    border-style: solid;
    height: 90%;
    aspect-ratio: 1;
  }
  
  .item {
    position: relative; 
    justify-self: center;
    align-self: center;
    animation-name: deactivate;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    
    width: 100%;
    aspect-ratio: 1;
    /* border-style: solid; */
    /* border-radius: 10px; */
    border-width: 1px;
    box-shadow: 1px 1px 3px gray;
    background-color: white;
    /* color: white; */
  }
  
  .item.active {
    background-color: #735241;
    animation-name: activate;
    
  }
  
  .item.start {
    background-color: #52a44a;
    animation-name: activate;
 
  }
  
  .item.end {
    background-color: #417b41;
    animation-name: activate;
 
  }

  .item.path {
    animation-name: activate;
  }

  .item.explored {
    animation-name: activateExplore;
    animation-fill-mode: forwards;
  }
  
  @keyframes activate {
    50% {
      transform: scale(.75);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes activatePath {
    50% {
      transform: scale(.75);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes activateExplore {
    50% {
      transform: scale(.75);
    }
    100% {
      transform: scale(1);
      background-color: #ac945a;
    }
  }

  @keyframes deactivate {
    50% {
      transform: scale(.75);
    }
    100% {
      transform: scale(1);
      background-color: white;
    }
  }
